<footer class="footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 text-center">
                <div class="footer-site-logo mb-4">
                    <a href="#">Moyano Matias</a>
                </div>
                <ul class="list-unstyled nav-links mb-4">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#about">About Me</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <div class="social mb-4">
                    <h3>Connect with Me!</h3>
                    <ul class="list-unstyled">
                        <li class="gh"><i class="fa-brands fa-github" (click)="abrirGithub()"></i></li>
                        <li class="ld"><i class="fa-brands fa-linkedin" (click)="abrirLinkedIn()"></i></li>
                        <li class="tw"><i class="fa-brands fa-instagram" (click)="abrirInstagram()"></i></li>
                        <li class="pin"><i class="fa-brands fa-facebook" (click)="abrirFacebook()"></i></li>
                        <li class="dr"><i class="fa-brands fa-x-twitter" (click)="abrirTwitter()"></i></li>
                    </ul>
                </div>
                <div class="copyright">
                    <p class="mb-0"><small>Moyano Matias, software developer</small></p>
                </div>
            </div>
        </div>
    </div>
</footer>
