<header id="home">
    <div class="container-fluid header-container">

        <div class="header-left">
            <p class="first">Hi there, I'm</p>
            <h1 class="half">Matías Moyano</h1>
            <div class="last-text">
                <span class="and-im">And I'm a</span>
                <span class="last">Frontend & Mobile Developer<span class="cursor">|</span></span>
            </div>

            <section class="redes">
                <i class="fa-brands fa-github" (click)="abrirGithub()" title="GitHub"></i>
                <i class="fa-brands fa-linkedin" (click)="abrirLinkedIn()" title="LinkedIn"></i>
                <i class="fa-brands fa-instagram" (click)="abrirInstagram()" title="Instagram"></i>
            </section>

            <div class="section">
                <div class="resume">
                    <a href="https://drive.google.com/file/d/1eG5F7ax2nHGpC1L_fXnetROrGHoy_ZFS/view?usp=drive_link"
                        target="_blank" class="btn btn-solid">
                        Resume <i class="fa-regular fa-circle-down"></i>
                    </a>
                </div>
                <div class="contact">
                    <a href="#contact" type="button" class="btn btn-outline">Contact Me</a>
                </div>
            </div>
        </div>

        <div class="header-right">
            <span class="phrase-prefix">&gt;_</span>
            <h3 class="ch-phrase" [class.hidden]="!isVisible">{{ currentPhrase }}</h3>
        </div>

    </div>
</header>